## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Weather_Database/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,14,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,Atlantis Hotel
1,15,Kharod,IN,78.73,overcast clouds,21.7500,82.5667,STARiHOTELS Sheorinarayan
2,23,Miles City,US,83.37,broken clouds,46.4083,-105.8406,FairBridge Inn & Suites Miles City
3,28,Yarmouth,US,80.71,broken clouds,41.7057,-70.2286,Blue Rock Resort
4,29,Mount Isa,AU,83.97,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
...,...,...,...,...,...,...,...,...
119,654,Oistins,BB,79.52,broken clouds,13.0667,-59.5333,Butterfly Beach Hotel
120,674,Derzhavinsk,KZ,78.08,clear sky,51.1000,66.3167,Ooo.khim Baza
121,675,Lahat,ID,81.95,overcast clouds,-3.8000,103.5333,Hotel Grand Zuri Lahat by ZHM
122,677,Panaba,MX,78.53,overcast clouds,21.2833,-88.2667,Hotel Don Fernando
123,683,Muli,MV,81.99,overcast clouds,2.9167,73.5667,Medhufushi Island Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 

input('Ready to start your vacation Intinerary? (Yes or No)')
vacation_start_city = input('From what city will you start your vacation?')
vacation_stop_city = vacation_start_city
vacation_stop_1_city = input('What is the first city to stop in on your vacation?')
vacation_stop_2_city = input('What is the second city to stop in on your vacation?')
vacation_stop_3_city = input('What is the final city to stop in on your vacation?')

Ready to start your vacation Intinerary? (Yes or No)Yes
From what city will you start your vacation?Westport
What is the first city to stop in on your vacation?Bethel
What is the second city to stop in on your vacation?Plymouth
What is the final city to stop in on your vacation?Yarmouth

In [9]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']== vacation_start_city]
vacation_end = vacation_df.loc[vacation_df['City']== vacation_stop_city]
vacation_stop1 = vacation_df.loc[vacation_df['City']== vacation_stop_1_city]
vacation_stop2 = vacation_df.loc[vacation_df['City']== vacation_stop_2_city] 
vacation_stop3 = vacation_df.loc[vacation_df['City']== vacation_stop_3_city]

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# create a vacation itinerary:
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING'
)

# ADD TO MAP(FIG):
fig.add_layer(vacation_itinerary)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,139,Westport,US,84.02,few clouds,41.1415,-73.3579,The Westport Inn
1,339,Bethel,US,82.76,few clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
2,558,Plymouth,US,81.34,few clouds,41.8334,-70.8328,Rodeway Inn Middleboro-Plymouth
3,28,Yarmouth,US,80.71,broken clouds,41.7057,-70.2286,Blue Rock Resort

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [22]:
# get the map:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))