In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Quatre Cocos,MU,2022-07-23 23:10:36,-20.2078,57.7625,69.10,77,49,14.76
1,1,Rikitea,PF,2022-07-23 23:10:36,-23.1203,-134.9692,72.91,63,0,8.39
2,2,Salalah,OM,2022-07-23 23:07:52,17.0151,54.0924,77.09,94,75,6.91
3,3,Clarence Town,AU,2022-07-23 23:10:37,-32.5833,151.7833,54.99,84,17,1.83
4,4,Caravelas,BR,2022-07-23 23:10:37,-17.7125,-39.2481,70.59,76,0,6.64

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))